.bg-image {  
    position: relative;
    background: url(tango.jpg);  
    min-height:100vh;    
    background-size: cover;
    background-position: center;
    padding: 280px 0 220px;
}

.main h2{
    font-size:2.6em;
    color: #dcdde1;
    text-transform: uppercase;
    font-weight: bold;
}

.main p {
    margin-top: 1em;
    padding: 0;
    font-size:16px;
    color: #ccc;
    padding-bottom: 25px;
    padding-right: 10em;
    
}

.tango-message{   
    margin-right: 25em;
}

body {
    padding-top: 75px;
    /* background-color: #E6DEDD ; */
}

.header-text {
    color:#D4AF37;
    font-optical-sizing: auto; font-family: 'Playfair Display'; font-weight: 300; font-style: italic; font-stretch: normal; line-height: initial;
}

.navbar-header-text {
    color:#D4AF37;
    font-optical-sizing: auto; font-family: 'Playfair Display'; font-weight: 300; font-style: italic; font-stretch: normal; line-height: initial;
    font-size: 30px !important;
}

.golden-text {
    color:#D4AF37;
}

.bg-dark-purple {
    background-color: #42102F;
    border-color : #42102F;
}

.bg-purple {
    background-color: #653e70;
    border-color : #653e70;
}

.bg-dark-sienna {
    background-color: #440D1C;
    border-color : #440D1C;
}

.bg-dark-red {
    background-color: #a12a15; 
    border-color : #a12a15; 
}

.bg-admin-panel {
    background-color: #e9d5d5; 
    border-color : #e9d5d5; 
}

.card-img-top {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.navbar-brand, .navbar-nav, .navbar-text, .nav-link {
    font-size: x-large;
}

body {
    margin: 0;
    background: url("/static/img/background.jpg") repeat;
    font-family: 'Playfair Display' !important;
    font-size: larger !important;
} 


.image-icon {
    width: 42px;
    height: 42px;
}

.event-details-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home-page-text {
    color:#D4AF37;
    font-size: 22px !important;

}