<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>    
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/css/bootstrap-social.css" rel="stylesheet">
  <link href="/static/css/style.css" rel="stylesheet">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" ></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   
  
</head>
<body>

<div id="fb-root" style="display:none"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0" nonce="TrodTnfV"></script>


<nav class="navbar navbar-expand-lg navbar-dark bg-dark-purple fixed-top pb-3">
    <a class="navbar-brand" href="/">Tampa Tango Calendar</a>
    <div class="collapse navbar-collapse">
         <ul class="navbar-nav me-auto">          <!--change the me-auto to ms-auto,mx-auto -->
            <li class="nav-item-active">
                <a class="nav-link" href="/events">Events</a>
            </li>
            {% if session.get("user_name") == None %}
              <li class="nav-item">
                  <a class="nav-link" href="/create_account">Create Account</a>
              </li>
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="/user_profile">Profile</a>
              </li> 
            {% endif %}

            {% if session.get("is_adm") == True %}
              <li class="nav-item">
                  <a class="nav-link" href="/adm">Adm Access</a>
              </li> 

            {% endif %}                     
        </ul>

 
        {% if session.get("user_name") == None %} 
        <ul class="navbar-nav me-auto"> 
            <li class="nav-item "> 
            <div class="login-container">
                <form class="form-inline" action="/users" method="Post">              
                  <input type="text" placeholder="Email" name="email" id="email">
                  <input type="password" placeholder="Password" name="password" id="password">
                  <button id="submit">Login</button>
                </form>
            </div>   
            </li>   
        </ul>    
        {% else %}
        <span class="navbar-text px-2">Welcome {{ session["user_name"].title() }}!</span>
        <a class="nav-link text-white px-3" href="/logout">Logout </a>
        {% endif %}        
    </div>
</nav>


<!--MESSAGE BOX PUP up CODE -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 id="title" class="modal-title fs-5" id="exampleModalLabel">Tampa Tango Calendar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="text">DGdgff</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>     
        </div>
      </div>
    </div>
  </div>


<script src="/static/login.js"></script>      <!-- link to javascript file -->
<script src="/static/base.js"></script>
<link rel="stylesheet" href="static/css/style.css" />

{% block body %} 
{% endblock %}

</body>
</html>