<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" ></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" ></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
</head>
<body>
   <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js"></script>
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js"></script> -->


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Tampa Tango Calendar</a>

    <div class="collapse navbar-collapse">
         <ul class="navbar-nav me-auto">          <!--change the me-auto to ms-auto,mx-auto -->
            <li class="nav-item-active">
                <a class="nav-link" href="/events">Events</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/subscribe">Subscribe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create_account">Create Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/adm">Adm Access</a>
            </li>                      
        </ul>

       
        {% if session.get("user_name") == None %} 
        <ul class="navbar-nav me-auto"> 
            <li class="nav-item "> 
            <div class="login-container">
                <form class="form-inline" action="/users" method="Post">              
                  <input type="text" placeholder="Email" name="email" id="email">
                  <input type="password" placeholder="Password" name="password" id="password">
                  <button id="submit">Login</button>
                </form>
            </div>   
            </li>   
        </ul>    
        {% else %}
        <span class="navbar-text px-2">Welcome {{ session["user_name"].title() }}!</span>
        <a class="nav-link text-white px-3" href="/logout">Logout </a>
        {% endif %}  
                      
        
    </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Tampa Tango Calendar</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p id="text">DGdgff</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>



<script src="static/login.js"></script>      <!-- link to javascript file -->
<script src="static/base.js"></script>

{% block body %} 
{% endblock %}

</body>
</html>