<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">    <!-- #Setting the viewport to make your website look good on all devices: -->
  <title>{% block title %}{% endblock %}</title>
</head>
<body>


  <p><a href="/create_account" name ="account">Create Account</a></p>
  <p><a href="/events" name="events">Events</a></p>    
  <p><a href="/subscribe" name="subscribe">Subscribe</a></p>    
  <p><a href="/adm" name="adm">Admin access</a></p>  
  <p><a href="/" name="homepage">Home Page</a></p> 
  <p><a href="/user_profile" name="user_profile">My Profile</a></p>


  {% block body %} 
  {% endblock %}

  <!-- Include any page-specific JavaScript using this block. -->
  {% block js %}
  
  {% endblock %}
</body>
</html>