{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %} 



<div class="container rounded border border-secondary mt-3">
  <h1 class="card-header">Create an account</h1>
  
  <div class="card-body">
  <form class="row" action ="/add_user_to_db" method = "POST" id="submit_form">
    <div class="col-md-6">
      <div class="row pb-4 px-5">
        <label for="firstname-input">First Name:</label>
        <input type="text" name="firstname" id = "firstname-input">
      </div>  
      <div class="row pb-4 px-5">
        <label for="lastname-input">Last Name:</label>
        <input type="text" name="lastname" id = "lastname-input">
      </div>
      <div class="row pb-4 px-5">
        <label for="email-input">Email:</label>
        <input type="text" name="email" id = "email-input">
      </div>  
      <div class="row pb-4 px-5">
        <label for="password-input">Password:</label>
        <input type="password" name="password" id="password-input">
      </div>
      <div class="row pb-4 mx-4">
        <div class="col">
            <input class="bg-primary text-white"type="submit" value="Create Account" id="create_account"/>            
        </div>
      </div>
    </div>
  </form>
</div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Tampa Tango Calendar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="text">DGdgff</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<script src="static/validate_email.js"></script> 

{% endblock %}  