{% extends 'base.html' %}

{% block title %} All Events {% endblock %}

{% block body %}
 

<h1> Events: </h1>
<ul>
    {% for event in event_type %}
        <li> 
            <a href="/events/{{ event.id }}" >
                {{ event.name }}
            </a>
        </li>
    {% endfor %}    
</ul>  
{% endblock %}           


   <!-- <p>Event name: {{event.event_type.name}}</p>
    <p>Event Description: {{event.description}}</p>
    <p>Event Date: {{event.date}}</p>
    <p>Event Duration: {{event.duration}}</p> 
    <p>Event Price: {{event.price}}</p> 
    <p>Event Location: {{event.location.venue_name}}</p> 
    <p>Event Address: {{event.location.address , event.location.city , event.location.zipcode}}</p> 
    <input type="submit" value="Sign in">
    <br><br> -->






  






{% block js %}	
{% endblock %}
