{% extends 'base.html' %}

{% block title %}- Details{% endblock %}

{% block body %}
<h1>{{ event.event_type.name }}</h1>

<p>
  {{ event }}

</p>
<p></p>


<div class="container rounded border border-secondary mt-3  py-4  px-5">
  <table class="table">    
      <thead>
      <tr class="card-header bg-info">   
          <th scope="col">Event</th>
          <th scope="col">Description</th>
          <th scope="col">date</th>  
          <th scope="col">price</th> 
          <th scope="col">location</th>       
      </tr>
      </thead>
      <tbody>         
           
              <tr>                                  
               
              </tr> 
      </tbody>
  </table>
  
</div> <br><br>



{% endblock %}



