{% extends 'base.html' %}

{% block title %}- Details{% endblock %}

{% block body %}

<div class="container rounded border border-secondary mt-3  py-4  px-5">
  <table class="table">    
      <thead>
        <tr class="card-header bg-info">   
            <th scope="col">Event</th>
            <th scope="col">Description</th>
            <th scope="col">date</th>  
            <th scope="col">price</th> 
            <th scope="col">location</th>       
        </tr>
      </thead>
      <tbody>         
          <tr> 
            <td>{{event.event_type.name}}</td> 
            <td>{{event.description}}</td>
            <td>{{event.date}}</td>   
            <td>{{event.price}}</td> 
            <td>{{event.location}}</td>
          </tr> 
      </tbody>
  </table>
  
</div>


{% endblock %}



