{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %}  



<div class="bg-image">
  <section class="main">
    <div class="container tango-message">
      <div class="col-sm-12 col-md-6">
        <h2>Tango, tango and more tango</h2>
        <p>Birthed in the late 19th century in the booming territory of Río de la Plata, Argentine tango managed to quickly 
          expand from its status as a music and dance style of the “unprivileged” and transform into phenomenon that has not
          only reached all four corners of the world, but has managed to have an significant influence on the history and
          social development of Argentina itself.</p>
      </div>
    </div>
  </section>  
</div>


<link rel="stylesheet" href="static/css/style.css" />
{% endblock %}










