{% extends 'base.html' %}

{% block title %} Homepage {% endblock %}

{% block body %}  

<h1>Welcome to Tampa Tango Events Calendar</h1>

<h1> add tango image and text explaining about the dance </h1><br>


<h2>Login</h2>
<form action="/users" method="POST">  
  <p>
    <label for="email">Email:</label>
     <input type="text" name="email" id = "email">
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id = "password" >
  </p>
  <p>
    <button id="submit"> Submit </button>
  </p>
</form>

 <script src="static/browser_data.js"></script>      <!-- link to javascript file -->

{% endblock %}


<!-- {% block js %}	
{% endblock %} -->









