{% extends 'base.html' %}

{% block title %}User Profile{% endblock %}

{% block body %}


<h1 class="text-center m-1 header-text">Your Upcoming Events </h1>
<main role="main">
<div class="container">    
    <div class="row">
        {% for event in events %}    
        <div class="col-12 col-sm-6 col-lg-4 col-xl-3 p-2">
            <div class="card h-100" >
                <div class="card-header" name="link_to_details" event_id="{{event.id}}">
                    <img src="/static/img/tango{{event.id % 10}}.jpg" class="card-img-top" alt="...">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{event.name}}</h5>
                    <p class="card-text">{{event.description}}</p>
                </div>
                <div class="card-footer">
                    <button type="submit" name="un_going" class="btn btn-dark bg-purple text-white" value="{{event.id}}">Unregister</button>
                    <a target="_blank" style="color:transparent" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F127.0.0.1%3A5000%2Fevents%2F1&amp;src=sdkpreparse">
                        <img class="img-thumbnail image-icon " src="/static/img/facebook_icon.png"/>
                    </a> 
                    <a target="_blank" style="color:transparent" target="_blank" href="https://calendar.google.com/calendar/render?action=TEMPLATE&text={{event.name}}&details={{event.description}}&dates={{event.start_date_time.strftime('%Y%m%dT%H%M%S')}}/{{event.end_date_time.strftime('%Y%m%dT%H%M%S')}} &location={{event.location.address}}, {{event.location.city}} - {{event.location.zipcode}}">
                        <img class="img-thumbnail image-icon" src="/static/img/calendar.png"/>
                    </a>
                </div>        
            </div>    
        </div>                
        {% endfor %}
    </div>
</div>  
</main>
<hr style="color: yellow"/>                       <!-- horizontal line -->

<h1 class="text-center m-1 header-text pb-2"> Events rated </h1>
<main role="main">
<div class="container">
    <div class="row">
        <div class="card-group">
            {% for review in reviews %}
            <div class="col-3 m-1">
                <div class="card h-100" style_old="width: 18rem;">
                    <div class="card-header">
                        <p>{{review.events.name}}</p>
                    </div>
                    <div class="card-body">
                        <p class="card-title">{{review.user.fname}}</p>
                        <p class="card-title">{{review.rate * "⭐"}}</p>
                        <p class="card-text"><i>{{review.comment}}</i></p>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-danger bg-dark-red text-white" name="delete_review" value="{{review.id}}">Delete</button>
                    </div>
                </div>
            </div>    
            {% endfor %}
        </div>
    </div>
</div>
</main>        


<script src="/static/event_sign_in.js"></script>
<script src="/static/delete_review.js"></script>
<script src="/static/event_details.js"></script>

{% endblock %}